<?xml version="1.0"?>
<robot name="done">

    <!-- world link -->
    <link name="cone">
        <visual>
            <geometry>
                <mesh filename="package:///home/yorick/Downloads/trafficcone.obj/7b05c3ac-e3dc-4232-86a2-20bb72c70fba.obj"/>
            </geometry>

            <material name="light_blue">
                <color rgba="0.490, 0.490, 0.490, 1"/>
             </material>
        </visual>
    </link>

</robot>